#contenidor {
    background-color: rgb(255, 253, 240);
    width: 850px;
    height: auto;
    margin: 0 auto;
    border: 2px solid black;
}

body,
html {
    height: auto;
    background-color: rgb(177, 177, 177);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(72, 87, 77);
}

header {
    background-color: white;
}

div #headerlogollibre {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    height: 90px;
}

header #llibre {
    width: 90px;
    height: 90px;
    margin-bottom: 0;
}

header #logo {
    width: 300px;
    height: 90px;
}

header #benvinguda {
    text-align: center;
    padding: 9px;
    background-color: rgb(255, 250, 205);
    border: 3px solid black;
    border-left: none;
    border-right: none;
    font-size: 17px;
}

header #benvinguda h1 {
    margin: 2px;
}

nav {
    display: flex;
    border-bottom: 3px solid black;
    background-color: rgb(255, 248, 220);
}

nav ul {
    margin: 12px;
    justify-content: left;
}

nav li {
    display: inline-block;
    align-items: left;
    padding: 12px;
    background-color: rgb(255, 250, 205);
    font-weight: bold;
    text-transform: uppercase;
    color: darkslategray;
    transition: all 0.3s;
    font-size: 17px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

nav li:hover {
    background-color: rgb(255, 228, 196);
    cursor: pointer;
}

#cercador {
    /*position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;*/
    padding: 12px;

}

#cercador input {
    border: 2px solid black;
    margin: 0;
    padding: 12px;
    font-size: 13px;
    /*margin-top: 13px;*/
}

#cercador button {
    border: 2px solid black;
    background-color: rgb(255, 250, 205);
    color: darkslategray;
    font-weight: bold;
    margin: 0;
    padding: 12px;
    border-radius: 4px;
    font-size: 13px;
}

#cercador button:hover {
    background-color: rgb(255, 228, 196);
    cursor: pointer;
}

main {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 12px;
    height: auto;
}

main .book {
    /*display: inline-block;*/
    width: 200px;
    margin: 7px;
    padding: 5px;
    background-color: white;
    transition: all 0.3s;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

main .book img {
    width: 150px;
    height: 200px;
    margin-bottom: 12px;
    margin-top: 12px;
    border: 3px solid black;
}

main .book button {
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(255, 228, 196);
    color: darkslategray;
    font-weight: bold;
    font-size: 18px;
}

main .book button:hover {
    background-color: rgb(179, 160, 136);
    color: white;
}

main .book img {
    transition: 250ms;
    opacity: 0.9;
}

main .book:hover img {
    opacity: 1;
}

#footertext {
    text-align: center;
    padding: 6px;
    border-top: 3px solid black;
    border-left: none;
    border-right: none;
    font-size: 14px;
}

#nom_producte {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 15px;
}

#preu {
    color: darkred;
    margin-bottom: 12px;
    font-size: 18px;
}