/*div que s'aplica a tot el body*/
body {
    background-color: rgb(0%, 0%, 50%);
}

/*div que encapsula totes els altres divs*/
.externaldiv {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*divs interns*/
.internaldiv {
    margin: 8px;
    border: 4px solid white;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-family: sans-serif;
    /*no se si et referies a una font no serif o sans-serif*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.75em;
}

/*parell*/
.internaldiv:nth-child(even) {
    background-color: red;
    color: white;
}

/*senar*/
.internaldiv:nth-child(odd) {
    background-color: orange;
    color: black;
}

/*multiples de 3*/
.internaldiv:nth-child(3n) {
    width: 300px;
}

/*div que conte el numero 7*/
.internaldiv:nth-child(7) {
    background-color: green;
    color: white;
}