html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 34, 34);
    min-height: 100%;;
    text-align: center;
    color: white;
}

.fixed-size2 {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 2px solid whitesmoke;
}

.textcenter {
    text-align: center;
}

header {
    background-color: rgb(51, 51, 51);
    margin: 0;
    padding: 10px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.8);
}


button {
  padding: 6px;
  background-color: rgb(35, 34, 39);
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 17px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  border: black;
}

input {
  padding: 6px;
  font-size: 17px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  border: black;
  text-align: center;
}

.divpista {
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(158, 202, 195);
    border: 4px solid gray;
}

.divcorrecteincorrecte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    /*background-color: rgb(207, 230, 173);*/
    background-color: gray;
    border: 4px solid gray;
}

#opacity {
    opacity: 100%;
}

span {
    font-weight: bold;
    font-size: 18px;
}