body,
html {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    zoom: 1.1;
}

.fixed-size {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    background-color: whitesmoke;
    min-height: 100%;
    border: 3px solid black;
}

header {
    background-color: rgb(48, 48, 48);
    padding: 20px;
    text-align: center;
    color: aliceblue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-size: 22px;
}

.flexcontainer {
    display: flex;
    align-items: flex-start;
}

.boxdiv {
    margin-top: 30px;
    margin-left: 60px;
    font-weight: bold;
    font-size: 20px;
}

.boxdiv2 {
    width: 400px;
    margin: 100px auto;
    text-align: center;
    height: 594px;
    margin-top: 50px;
    position: relative;
    border-radius: 10px;
    border: 2px black;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.postaltext {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-height: 80%;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 1.1;
    word-wrap: break-word;
}

.boxoptions {
    margin-left: 34px;
    margin-bottom: 37px;
}

.button {
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: rgb(47, 0, 255);
    color: white;
    font-size: 17px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

#missatge {
    width: 360px;
    height: 40px;
    font-size: 13px;
}

